######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
/log/
**/target/
.flattened-pom.xml

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Mac OSX
######################
.DS_Store

######################
# Logs
######################
*.log

######################
# Node JS
######################
node_modules/

######################
# Others
######################
*.class
*.*~
*~

